@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap');
        * {
            font-family: "Baloo 2", sans-serif;
            }

.container{
    text-align: center;
    background-color: aqua;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 5em;
    max-width: fit-content;
    max-height: fit-content;
    border-radius: 1em;
    padding: 2em;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);   
    
}
.tombol{
    display: grid;
    grid-template-rows: auto auto;
    margin: 10px;
}


.kotak{
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 5px;
}

.btn{
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
    width: 100px;
    background-color: white;
    color: black;
    border-radius: 5px;
}
.btn:hover{
    color: black;
    background-color: cyan;
    transition: 0.75s ease;
    cursor: pointer;
}

.hasil{
    margin: 0 auto;
    width: 200px;
    height: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    text-align: center;
}
input{
    margin: 10px 0;
    width: 100px;
}
